# Lab 1: Web Crawling & Information Extraction
httpx
trafilatura
spacy
pandas

# Lab 2: KB Construction & Alignment
rdflib
SPARQLWrapper

# Lab 2: SWRL Reasoning
owlready2

# Lab 3: Knowledge Graph Embedding
pykeen
torch
scikit-learn
matplotlib
